a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #000000;
}

body {
    direction: rtl;
    margin: 0;
    padding: 2px;
}

.result {
    background-image: -moz-linear-gradient(#FFFFFF, #FFFFFF, #FFFBDD);
    background-image: -webkit-linear-gradient(#FFFFFF, #FFFFFF, #FFFBDD);
    border: 1px solid #DEDCDC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px 2px #EDEBEB;
    margin: 5px 5px 10px;
    padding: 5px;
}

.whiteBG {
}

.grayBG {
}

.result h3 {
    color: #595959;
    display: inline-block;
    font-size: 18px;
    margin: 0 5px 5px;
}

.result p.resultText {
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    margin: 0;
    padding: 15px 5px;
}

.result .result_info {
    margin: 5px 0;
    padding: 0 10px;
}

.result .result_head {
    background-image: -moz-linear-gradient(#FFF6F5, #FFF0CC);
    background-image: -webkit-linear-gradient(#FFF6F5, #FFF0CC);
    border-bottom: 1px solid #FFD7A3;
    border-radius: 5px 5px 5px 5px;
    margin: 0;
    padding: 8px 0 0;
}

.currentResult {
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

.bookName {
    color: #257893;
    font-weight: bold;
    margin-left: 7px;
}

.progSpan {
    background-color: #C8F8C4;
    float: left;
    height: 15px;
    margin: 5px 5px 0;
}

.progSpanContainre {
    border: 1px solid #C5C1C1;
    float: left;
    height: 14px;
    width: 99px;
}

.prev {
    float: right;
    font-style: oblique;
}

.next {
    float: right;
    font-style: oblique;
}

.creader {
    float: left;
    font-style: oblique;
}

.parText {
    background-color: #FFEBEB;
    border: 1px solid #FFC5C5;
    border-radius: 10px 10px 10px 10px;
    color: black;
    margin-top: 5px;
    padding: 10px;
}

.pageNav {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    color: #8C8A8C;
    float: left;
    left: 10px;
    margin: 0;
    padding: 2px 10px;
    position: fixed;
    text-align: center;
    top: 5px;
}

.pageNav img {
    padding: 0 5px;
}

.pageNav img:hover {
    cursor: pointer;
}

.bookNameDiv {
    float: right;
    padding: 2px 10px;
}

.bName {
    float: right;
}

.bLocation {
}

.clearDiv {
    clear: both;
}

.statusDiv {
    background-color: #FBFBF0;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 3px 2px #EDEBEB;
    margin: 10px 5px;
    padding: 5px 15px;
    text-align: center;
}

.pageHead {
    background-color: #FFFFFF;
    left: 0;
    margin: 0 5px;
    padding: 3px 5px;
}

#tooltip {
    background-color: #EEEEEE;
    border: 1px solid #111111;
    border-radius: 10px 10px 10px 10px;
    font-size: 0.8em;
    max-width: 600px;
    padding: 5px;
    position: absolute;
    word-wrap: normal;
    z-index: 3000;
}

#tooltip h3 {
    margin: 0;
    padding: 2px;
}

.shamela_tools {
    float: left;
    padding: 10px 0px;
    margin-right: 15px;
}

.viewer_open img, .shamela_open img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
